body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
}

.navbar {
  margin-top: 0 !important;
}

/* Sidebar */
#sidebar {
    min-width: 260px;
    max-width: 260px;
    min-height: 100vh;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}
#sidebar .nav-link {
    color: #fff;
}
#sidebar.collapsed {
    margin-left: -260px;
}

.navbar-custom {
    background-color: #e65c00;
}

.nav-link.active {
    background-color: #e65c00; /* biru bootstrap */
    color: #fff !important;
    border-radius: 5px;
    font-weight: 600;
}

/* Content */

.bg-grey{
    background-color: #666666;    
}

.bg-oren{
    background-color: #e65c00;
}

#content {
    transition: all 0.3s;
}
.card {
    min-height: 250px; /* bebas sesuai kebutuhan */
}

.tinggi-card{
    height:420px;
}
.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 200px; /* tinggi tetap card */            
}

.table-wrapper2 {
    display: flex;
    flex-direction: column;
    height: 100%; /* tinggi tetap card */            
}

.table-scroll {
    flex: 1;
    overflow-y: auto; /* hanya bagian tabel yang scroll */            
    overflow-x: auto;
    border: none;
}

.table-scroll .table th,
.table-scroll .table td {
    border: none !important;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa; /* efek hover */
  cursor: pointer;
}

#datakeluarga, table{
    text-align: center;
}

.table-scroll table {
    border: 1px solid #ccc;      /* garis tepi tabel */
    border-collapse: collapse;   /* rapetin garis */
    width: 95%;                  /* lebar tabel diperkecil */
    margin: 0 auto;              /* tengahin tabel */
}

.table-scroll th,
.table-scroll td {
    border: 1px solid #ccc;      /* garis tiap sel */
    padding: 6px 10px;           /* jarak isi sel */
}

.table-scroll2 table {
    border: 1px solid #ccc;      /* garis tepi tabel */
    border-collapse: collapse;   /* rapetin garis */
    width: 95%;                  /* lebar tabel diperkecil */
    margin: 0 auto;              /* tengahin tabel */
    overflow-x: auto;
    table-layout: auto;
}   

.table-scroll2 table th,
.table-scroll2 table td {
    white-space: nowrap; /* teks tidak dibungkus */    padding: 6px 50px;
}

.table-scroll2 table th:first-child {
    width: 250px; /* pastikan lebar cukup */
}

.filter-bar {
    background: white; /* biar nggak transparan saat scroll */    
    top: 0;
    z-index: 2;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.btn-detailinfo{        
    border-radius: 5px;
    padding: 3px 9px;
    background-color: #e65c00;
    border: none;
    font-size:smaller;
}

.btn-detailinfo:hover{        
    background-color: #e65c00;
    border: none;
}

.cari{
    background-color: #e65c00;
    border: none;        
}

.cari:hover{
    background-color: #8a3700;
    border: none;        
}


/* Footer */
footer {
    background: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
    margin-top: 20px;
}



