body {
    font-family: 'Times New Roman', serif;
    background-color: white;    
}

.nav-link {
    color: #e65c00;
    font-weight: 500;
}
.nav-link:hover {
    color: #000000;   
}

nav.d-flex {
    margin-right:50px;
    gap: 50px;
}

.stats{
    margin-left: 50px;
    font-size: large;
}

.search-box {
    border: 2px solid #e65c00;
    border-radius: 15px;
    padding: 15px;
    height: 350px;
}

.search-input {
    border: 2px solid #e65c00;
    border-radius: 25px 0 0 25px;
    padding: 10px 15px;
}

.search-btn {
    background-color: #e65c00;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 10px 20px;
    color: white; 
    font-weight: bold;
}

.info-card {
    border: 2px solid #e65c00;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.info-card:hover {
    background-color: #fff4ec;
}

.info-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.saldo-text {
    color: #e65c00;
    font-size: 20px;
    font-weight: bold;
}

.table-container {
    max-height: 400px; /* tinggi fix sesuai kebutuhan */
    overflow-y: auto;
    overflow-x: hidden;
}

.tahun-pembayaran {
    max-height: 300px; /* samakan dengan tinggi rekap kiri */
    overflow-y: auto;
    display: flex;
    padding-right: 5px; /* biar teks nggak ketimpa scrollbar */
}

.tahun-pembayaran table {
    margin-bottom: 0; /* biar nggak ada space berlebih */
}

/* menu footer */
.footer-menu {
    background-color: #fff;
}

.footer-menu .menu-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 6px 14px;
    border: 2px solid #ff6600;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.footer-menu .menu-btn:hover {
    background-color: #ffece0;
}

.footer-menu .menu-btn.active {
    background-color: #ff6600;
    color: white;
}

.footer-menu .menu-btn .icon {
    font-size: 16px;
}

